---
import Layout from "../layouts/Layout.astro";
import TitleArea from "../components/TitleArea/TitleArea.astro";
import ContactForm from "../components/TitleArea/ContactForm.astro";
import Marquee from "../components/Marquee.astro";
import Footer from "../components/Footer.astro";
import { getEntry } from "astro:content";
import PromotedProject from "../components/PromotedProject.astro";

import promotedProjects from "../data/settings/promotedProjects.json";
const PromotedProject1 = await getEntry("projects", promotedProjects.project1);
const PromotedProject2 = await getEntry("projects", promotedProjects.project2);
const PromotedProject3 = await getEntry("projects", promotedProjects.project3);
const PromotedProject4 = await getEntry("projects", promotedProjects.project4);
---

<Layout title="Florian König">
	<TitleArea />

	<section id="projects">
		<Marquee inverse={false}>
			<p>Collaboration</p>
			<p>Android</p>
			<p>Web</p>
			<p>Cloud</p>
			<p>Design</p>
			<p>3D</p>
			<p>Hardware</p>
			<p>DevOps</p>
		</Marquee>

		<div
			id="recent-projects"
			class="projectsgrid min-h-[56rem] 2xl:max-h-[92vh] overflow-hidden p-4 md:p-8 max-md:mt-4 xl:px-16 gap-4 xl:gap-8">
			<h2 class="sr-only">Recent Projects</h2>

			<PromotedProject project={PromotedProject1} isLarge={true} />
			<PromotedProject project={PromotedProject2} />
			<PromotedProject project={PromotedProject3} />
			<PromotedProject project={PromotedProject4} />
			
			<a href="/projects" id="projectsmore" class="group h-14 w-full flex max-2xl:justify-center">
				<div class="elevated-card-hoverable elevated-3 w-full md:w-[48%] 2xl:w-fit">
					<div
						class="border-l-4 border-t-4 border-r-2 border-b-2 border-black h-full w-full flex items-center justify-center md:px-20">
						<p class="group-hover:underline underline-offset-[0.3rem] decoration-[0.125rem]">
							More Projects
						</p>
					</div>
				</div>
			</a>
		</div>
	</section>

	<section id="about">
		<div class="h-8"></div>

		<Marquee inverse={false}>
			<p>About Me</p>
			<p>About Me</p>
			<p>About Me</p>
			<p>About Me</p>
			<p>About Me</p>
			<p>About Me</p>
		</Marquee>

		<div class="flex flex-row">
			<div class="lg:mx-16 mt-4 p-8 md:max-w-2xl lg:max-w-3xl xl:max-w-4xl">
				<h1 class="text-5xl md:text-6xl lg:text-7xl xl:text-8xl font-poppins font-black">
					Hey, I'm <span>Florian</span>!
				</h1>
				<p class="text-lg mt-8">
					I'm a multidisciplinary software engineer with a strong passion for the technology of
					tomorrow.<wbr /> I love building digital products and physical experiences that just feel natural.
				</p>
				<div class="mt-8 flex flex-row items-center gap-3">
					<a
						href="https://www.linkedin.com/in/koenidv/"
						target="_blank"
						id="projectsmore"
						class="group flex max-md:justify-center">
						<div class="elevated-card-hoverable elevated-2 w-full md:w-auto 2xl:w-fit">
							<div
								class="border-l-4 border-t-4 border-r-2 border-b-2 border-black h-full w-full flex items-center justify-center py-2 px-4 md:px-20">
								<p class="group-hover:underline underline-offset-[0.3rem] decoration-[0.125rem]">
									Read My Résumé on LinkedIn
								</p>
							</div>
						</div>
					</a>
					<!-- <div class="flex h-10 flex-row gap-2">
						<a href="https://sanofi.com" target="_blank" class="">
							<img
								class="h-full w-full opacity-100 hover:opacity-80"
								src="https://img.icons8.com/ios-glyphs/60/twitter-circled--v1.png"
								alt="twitter"
							/></a
						>
						<a href="https://sanofi.com" target="_blank" class="">
							<img
								class="h-full w-full opacity-100 hover:opacity-80"
								src="https://img.icons8.com/ios-glyphs/60/github.png"
								alt="twitter"
							/>
						</a>
					</div> -->
				</div>
			</div>
		</div>
	</section>

	<section id="contact" class="mx-4 md:mx-8 xl:mx-16 mt-4 p-4 lg:p-8">
		<h2 class="text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-poppins mb-14">
			Let's grow together
		</h2>
		<ContactForm />
	</section>

	<Footer />

	<script src="../scripts/dialogbuttons.js"></script>

	<script is:inline>
		document.body.onload = () => {
			if (document.location.href.includes("#")) {
				const id = document.location.href.split("#")[1];
				let dialog, origin;
				dialog = document.querySelector("#dialog" + id);
				origin = document.querySelector("#project" + id);
				if (dialog && origin) {
					dialog.showModal();
					origin.classList.add("invisible");
				}
			}
		};
	</script>
</Layout>
